body {
	background-color: #000E29;
	font-family: 'Rowdies', cursive;
	color: white;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 1000%;
	text-align: center;
	margin-top: 0.4em;
	margin-bottom: 5px;
	padding: 0px 0px 0px 0px;
}

div#container {
	position: relative;
}

#below-h1 {
	font-size: 200%;
	text-align: center;
	margin-top: 5px;
}

/*.subh-box {
	width: 200px;
	height: 50px;
	border: 1px solid white;
	border-radius: 20px;
	position: relative;
} */

.subheadings {
	font-size: 250%;
	text-align: center;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-right: 0.3em;
	margin-left: 0.3em;
	float: left;
	border: 1px solid white;
	border-radius: 20px; 
	padding: 10px 20px 10px 20px;

}